@model IEnumerable<NotesLibrary.Models.Content>
@{
    ViewBag.Title = "书架";
}

<h2>@ViewBag.Title</h2>
<div class="container">
@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/book.jpg" alt="..."  class="img-responsive">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <h4>评分4.5，共10人评分</h4>
                @Html.ActionLink("详情信息", "Details", new { id = item.Id })
                @Html.ActionLink("加入书架", "Details", new { id = item.Id })
            </div>
        </div>
    </div>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
}
