@model NotesLibrary.Models.DetailBookViewModel
@{
    ViewBag.Title = "Details";
}

<h2>书籍详情信息</h2>
<div class="col-md-4">
    <img src="~/Content/book.jpg" alt="..."  class="img-responsive">
</div>
<div class="col-md-8 form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ISBN, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ISBN)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Author)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>
    @Html.ActionLink("加入书架", "Details", new { model = Model}, new { @class = "btn btn-default" })
    @Html.ActionLink("开始阅读", "Details", new { model = Model}, new { @class = "btn btn-default" })
</div>
